.option-button .dropdown-button {
    min-width: 5px !important;
    margin: 0;
    width: 35px;
    height: 35px !important;
    border-radius: 50%;
    padding: 11px 13px  8px 13px;
    border: 1px solid gray;
    color: gray !important;
}
.option-button .dropdown-button .glyphicon {
    position: absolute;
    right: 9px;
    padding: 9px 0px;
}
.main-text {
    font-weight: 600;
    color: #3836da;
    font-size: 12px;
}
@media (max-width:1280px)
{
    .vendor-sum span.mx-text.mx-name-text47.main-text
    {
        font-size:12px;
    }
}
@media (max-width:1200px)
{
    .vendor-sum span.mx-text.mx-name-text47.main-text
    {
        font-size:12px;
    }
    .option-button .dropdown-button .glyphicon {
        position: absolute;
        right: 12px;
        padding: 12px 0px;
    }
}