$white-color: #ffffff;
$golden-yellow: #e8bd37;
// $primary-color:#006292;
$primary-color:#db0000;
$primary-dark:#db0000;
$approved: #006400;
$rejected:#8B0000;
$progress:#ffcc00;
$bg:#f9f9f9;
$view-button:#DE762A;
$delete-button:#d11a2a;
$secondary-bg:#f0f8ff;
$dark-gold:#b8860b;
$approved-card:#27a745;
$rejected-card:#e64e4e;
$search:#26be9a;
$new-bg:#f0f8ff;
$bg-border:#d0d0d0;